#forgot-password-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: var(--color-background);

    /* Prevent user from selecting text */
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#forgot-password-container .form-container {
    flex-direction: column;
}

#forgot-password-container .form-container img {
    margin-top: -4rem;
    margin-bottom: 10rem;
    cursor: pointer;
}

.forgot-password-form legend {
    font-size: 3rem;
    color: var(--color-text-title);
    font-weight: bold;
}

.forgot-password-form fieldset {
    margin-top: 5rem;
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.forgot-password-form fieldset .email-input-block:focus-within::after {
    height: 5.5rem;
    width: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    top: 1rem;
    left: 0;    
}

.forgot-password-form fieldset input {
    width: 36.5rem;
    height: 7.5rem;
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    margin-top: 0;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
}

.forgot-password-form button {
    margin-top: 2rem;

    background-color: #DCDCE5;
    border: 0;
    outline: 0;
    border-radius: 0.8rem;
    
    cursor: not-allowed;
    height: 5.8rem;
    width: 100%;

    font-weight: bold;

    transition: 0.2s;
}

#forgot-password-container #overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-image: url('../../assets/images/background-overlay.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-primary);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forgot-password-container #overlay h1 {
    margin-top: 2rem;
    color: #FFF;
    font-size: 3rem;
}

#forgot-password-container #overlay h5 {
    color: var(--color-text-in-primary);
    font-weight: normal;
    text-align: center;
}

#forgot-password-container #overlay button {
    color: #FFF;
    background-color: var(--color-secundary);
    border: 0;
    outline: 0;
    border-radius: 0.8rem;
    height: 5.8rem;
    width: 15rem;
    margin-top: 10rem;
    transition: 0.2s;
    cursor: pointer;
}

#forgot-password-container #overlay button:hover {
    background-color: var(--color-secundary-dark);
}

@media(min-width: 768px) { 
    #forgot-password-container {
        flex-direction: row;
    }
    
    #forgot-password-container .form-container {
        height: 100vh;
        width: 40vw;

        margin-top: -8rem;

        display: flex;
        
        align-items: flex-start;
        justify-content: center;
    }

    #forgot-password-container .form-container img {
        margin-top: -25rem;
        margin-bottom: 30rem;
    }

    #forgot-password-container #overlay h1 {
        margin-top: 5rem;
        color: #FFF;
        font-size: 3rem;
    }
}