#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);

    overflow-x: hidden;
}

#page-landing header {
    margin-top: 14rem;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

#page-landing header .avatar-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    cursor: pointer;
}

#page-landing header .avatar-container strong {
    margin-left: 2rem;
}

#page-landing header .avatar-container img {
    border-radius: 50%;
    height: 4.1rem;
}

#page-landing header .logout {
    cursor: pointer;
}   

#page-landing section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#page-landing footer {
    padding-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    color: var(--color-text-complement);
    
    background-color: var(--color-background);
}

#page-landing footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;

    width: 70%;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    width: 4rem;
}

.buttons-container a.study {
    background: var(--color-primary);
}

.buttons-container a.give-classes {
    background: var(--color-secundary);
}

.buttons-container a.study:hover {
    background: var(--color-primary-dark);
}

.buttons-container a.give-classes:hover {
    background: var(--color-secundary-dark);
}

.buttons-container a img {
    margin-right: 2.4rem;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    text-align: center;
    margin-bottom: 2rem;

    color: var(--color-text-base);
}

.total-connections {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

@media (min-width: 1100px) {
    #page-landing-content {
        max-width: 1100px;
    }

    #page-landing header {
        margin-top: 5rem;
    }

    #page-landing section {
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
    
        align-items: center;
        justify-content: center;

        margin-bottom: 6rem;
    }

    #page-landing footer .footer-content {
        max-width: 1100px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end; 
        padding-bottom: 8rem;
    }

    .logo-container {
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .logo-container h2 {
        text-align: initial;
        font-size: 3.6rem;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        justify-self: end;
    }

    .buttons-container {
        justify-content: flex-end;
    }

    .buttons-container a {
        font-size: 3.4rem;
    }

    .welcome-container {
        justify-self: start;
        margin-bottom: 7rem;
    }

    .welcome-container .welcome {
        text-align: left;
        width: 16rem;
    }

    .total-connections {
        justify-self: end;

        width: 25rem;
        margin-bottom: 7rem;
        margin-right: 5rem;
        margin-left: 10rem;

        text-align: right;
    }

    .total-connections img {
        margin-top: 2.4rem;
    }
}